.page.navbar-fixed.toolbar-fixed(data-page="preview")
  .navbar
    .navbar-inner
      .left
        a.link.icon-only(href='index.html')
          i.f7-icons left
      .center Preview
                
  .toolbar.toolbar-bottom
    .toolbar-inner
      a.link(href='pages/schedule.html') Schedule
      a.link(href='pages/folder.html') Folder
