.page.navbar-fixed.toolbar-fixed(data-page="schedule")
  .navbar
    .navbar-inner
      .left
        a.link.icon-only(href='index.html')
          i.f7-icons left
      .center Schedule
          
  .toolbar.toolbar-bottom
    .toolbar-inner
      a.link(href='pages/preview.html') Preview
      a.link(href='pages/folder.html') Folder
      
  .page-content
    .content-block-title Start Date
    .list-block
      ul
        li
          .item-content
            .item-inner
              .item-input
                input#calendar-date-format(type='text', placeholder='Select date', readonly='')
      
        
        
        
        
        
